// These colors are specific to the theme. Do not use in a package!

@light-gray: #665b66;
@gray: #373b41;
@dark-gray: #282a2e;

@cyan: #8abeb7;
@blue: #81a2be;
@green: #569188;
@green-dark: #395458;
@red: #cc6666;
@orange: #e67a30;
@light-orange: #f29d66;

@yellow: #daa85d;
@pink: #c95787;

@WHITE: #dbd5e3;
@BACKGROUND: #1E1D25;
@GRAY_LIGHT: #433e5c;
@GRAY_LIGHTER: #9b93a7;
@GRAY_LIGHTEST: #b9bbcb;
@APRICOT: #f29d66;
@LAVANDER: #7465a6;
@LAVANDER_LIGHT: #a195cf;
@BLUE_SKY: #3d669a;
@BLUE_SKY_LIGHT: #6796bd;
